* {
    margin: 0;
    padding: 0;
    font-family: arial;
}

header {
    backgroung: #336706;
}

section {
    background: ;
}

.color-gris {
    color: gray;
}

.texto-negrita {
    font-weight: bold;
}

.texto-subrayado {
    text-decoration: underline;
}

.texto-cursiva {
    font-style: italic;
}

.soy_rebelde {
    color: red;
    border: solid 1px;
}
